.movie-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 16px;
}

.movie-item {
  position: relative;
  transition: transform 0.3s ease;
}

.movie-item:hover {
  transform: scale(1.5) translate3d(0px, 0px, 0px);
  z-index: 1;
  cursor: pointer;
}

.image-container {
  display: flex;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay p {
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
