@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Outfit;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #171717;
}

h1 {
  color: #da0037;
}

.primary {
  color: #da0037;
}

.secondary {
  color: #ededed;
}
