.movie-list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 16px;
  margin-bottom: 32px;
}

.movie-item {
  width: 175px;
  height: 250px;
  display: flex;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.movie-item:hover {
  transform: scale(1.5) translate3d(0px, 0px, 0px);
  z-index: 1;
  cursor: pointer;
}

.movie-item.skeleton {
  width: 175px;
  height: 250px;
  background: linear-gradient(90deg, #ddd 25%, #eee 50%, #ddd 75%);
  background-size: 200% 100%;
  animation: loading 1s infinite;
}

.pagination-wrapper {
  margin: 0 32px 0 32px;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@media screen and (max-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(2, auto);
    gap: 32px;
  }

  .movie-item {
    width: 140px;
    height: 200px;
  }

  .movie-item.skeleton {
    width: 140px;
    height: 200px;
  }
}
