.nav-container {
  width: 100%;
  position: fixed;
  z-index: 40;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.5ms;
  padding: 16px 32px;
  background-color: #171717;
}

.nav-items {
  display: flex;
  flex-direction: row;
  margin-left: 38px;
  gap: 32px;
}
